<div class="tp-banner-container" style="overflow: visible;">
	<div class="tp-banner revslider-initialised tp-simpleresponsive" id="revslider-863" style="max-height: 660px; height: 626px;">
		<ul class="tp-revslider-mainul" style="display: block; overflow: hidden; width: 100%; height: 100%; max-height: 660px;">
			<li data-transition="random-static" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on" class="tp-revslider-slidesli active-revslide" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0;">
				<div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="undefined" data-kenburns="undefined" data-easeme="undefined" data-bgfit="undefined" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined">
					<div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" data-lazydone="undefined" src="images/slides/1.jpg" data-src="images/slides/1.jpg" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;images/slides/1.jpg&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 0; visibility: inherit;">
					</div>
				</div>
				<div class="tp-caption sfl title-slide text-center start" data-x="center" data-y="203" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut" style="transition: none 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 61px; border-width: 0px; margin: 28.4545px 0px 0px; padding: 28px; letter-spacing: 0px; font-size: 68px; left: 140px; top: 192.542px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, -50, 0, 0, 1);">
					Build the business plan
					<br>your company
				</div>
				<div class="tp-caption sfl flat-button-slider bg-button-slider-333333 start" data-x="398" data-y="473" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut" style="transition: all 0.3s ease 0s; min-height: 0px; min-width: 0px; line-height: 27px; border-width: 0px; margin: 0px; padding: 13px 47px; letter-spacing: 0px; font-size: 15px; left: 377.633px; top: 448.633px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, -50, 0, 0, 1);">
					<a href="#">Read More</a>
				</div>
				<div class="tp-caption sfr flat-button-slider start" data-x="588" data-y="473" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut" style="transition: all 0.3s ease 0s; min-height: 0px; min-width: 0px; line-height: 27px; border-width: 0px; margin: 0px; padding: 13px 47px; letter-spacing: 0px; font-size: 15px; left: 557.845px; top: 448.633px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 50, 0, 0, 1);">
					<a href="#">Contact Us</a>
				</div>
				<div class="tp-caption sfb flat-down start" data-x="center" data-y="bottom" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut" style="left: 547.5px; top: 577px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 50, 0, 1);">
					<a href="#">
						<%=image_tag "images/slides/button1.png", alt:"slider-image", style:"width: 14.2273px; height: 47.5061px;"%>
					</a>
				</div>
			</li>
			<li data-transition="random-static" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on" class="tp-revslider-slidesli active-revslide" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0;">
				<div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="undefined" data-kenburns="undefined" data-easeme="undefined" data-bgfit="undefined" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined">
					<div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" data-lazydone="undefined" src="images/slides/2.jpg" data-src="images/slides/2.jpg" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;images/slides/2.jpg&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 0; visibility: hidden;">
					</div>
				</div>
				<div class="tp-caption sfl title-slide text-center start" data-x="center" data-y="203" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut" style="transition: none 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 61px; border-width: 0px; margin: 28.4545px 0px 0px; padding: 28px; letter-spacing: 0px; font-size: 68px; left: 124px; top: 192.542px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, -50, 0, 0, 1);">
					Prepare the Draft of Your
					<br> &nbsp;Company's Application.
				</div>
				<div class="tp-caption sfl flat-button-slider bg-button-slider-333333 start" data-x="398" data-y="473" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut" style="transition: all 0.3s ease 0s; min-height: 0px; min-width: 0px; line-height: 27px; border-width: 0px; margin: 0px; padding: 13px 47px; letter-spacing: 0px; font-size: 15px; left: 377.633px; top: 448.633px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, -50, 0, 0, 1);">
					<a href="#">Read More</a>
				</div>
				<div class="tp-caption sfr flat-button-slider start" data-x="588" data-y="473" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut" style="transition: all 0.3s ease 0s; min-height: 0px; min-width: 0px; line-height: 27px; border-width: 0px; margin: 0px; padding: 13px 47px; letter-spacing: 0px; font-size: 15px; left: 557.845px; top: 448.633px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 50, 0, 0, 1);">
					<a href="#">Contact Us</a>
				</div>
				<div class="tp-caption sfb flat-down start" data-x="center" data-y="bottom" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut" style="left: 547.5px; top: 577px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 50, 0, 1);">
					<a href="#">
						<%=image_tag "images/slides/button1.png", alt:"slider-image", style:"width: 14.2273px; height: 47.5061px;"%>
					</a>
				</div>
			</li>
			<li data-transition="slidedown" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on" class="tp-revslider-slidesli active-revslide current-sr-slide-visible" style="width: 100%; height: 100%; overflow: hidden; visibility: inherit; opacity: 1; z-index: 20;">
				<div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="undefined" data-kenburns="undefined" data-easeme="undefined" data-bgfit="undefined" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined">
					<div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" data-lazydone="undefined" src="images/slides/3.jpg" data-src="images/slides/3.jpg" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;images/slides/3.jpg&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; visibility: inherit; opacity: 1;">
					</div>
				</div>
				<div class="tp-caption sfl title-slide text-center start" data-x="center" data-y="203" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut" style="transition: none 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 61px; border-width: 0px; margin: 28.4545px 0px 0px; padding: 28px; letter-spacing: 0px; font-size: 68px; left: 100.5px; top: 192.542px; visibility: visible; opacity: 0.971644; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00246, -1.41781, 0, 0, 1);">
					Service of Accounting and
					<br>Management Support
				</div>
				<div class="tp-caption sfl flat-button-slider bg-button-slider-333333 start" data-x="398" data-y="473" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut" style="transition: all 0.3s ease 0s; min-height: 0px; min-width: 0px; line-height: 27px; border-width: 0px; margin: 0px; padding: 13px 47px; letter-spacing: 0px; font-size: 15px; left: 377.633px; top: 448.633px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, -50, 0, 0, 1);">
					<a href="#">Read More</a>
				</div>
				<div class="tp-caption sfr flat-button-slider start" data-x="588" data-y="473" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut" style="transition: all 0.3s ease 0s; min-height: 0px; min-width: 0px; line-height: 27px; border-width: 0px; margin: 0px; padding: 13px 47px; letter-spacing: 0px; font-size: 15px; left: 557.845px; top: 448.633px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 50, 0, 0, 1);">
					<a href="#">Contact Us</a>
				</div>
				<div class="tp-caption sfb flat-down start" data-x="center" data-y="bottom" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut" style="left: 548px; top: 578px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 50, 0, 1);">
					<a href="#">
						<%image_tag "images/slides/button1.png", alt:"slider-image", style:"width: 14.2273px; height: 47.5061px;"%>
					</a>
				</div>
			</li>
		</ul>
		<div class="tp-loader spinner4" style="display: none;">
			<div class="dot1">
			</div>
			<div class="dot2">
			</div>
			<div class="bounce1">
			</div>
			<div class="bounce2">
			</div>
			<div class="bounce3">
			</div>
		</div>
		<div class="tp-bannertimer" style="visibility: visible; width: 12.6%; transform: translate3d(0px, 0px, 0px);">
		</div>
	</div>
	<div style="position: absolute; top: 330px; margin-top: -25px; left: 20px;" class="tp-leftarrow tparrows default square hidearrows">
		<div class="tp-arr-allwrapper">
			<div class="tp-arr-iwrapper">
				<div class="tp-arr-imgholder" style="visibility: inherit; opacity: 1; background-image: url(&quot;images/slides/2.jpg&quot;);">
				</div>
				<div class="tp-arr-imgholder2">
				</div>
				<div class="tp-arr-titleholder">
				</div>
				<div class="tp-arr-subtitleholder">
				</div>
			</div>
		</div>
	</div>
	<div style="position: absolute; top: 330px; margin-top: -25px; right: 20px;" class="tp-rightarrow tparrows default square hidearrows">
		<div class="tp-arr-allwrapper">
			<div class="tp-arr-iwrapper">
				<div class="tp-arr-imgholder" style="visibility: inherit; opacity: 1; background-image: url(&quot;images/slides/1.jpg&quot;);">
				</div>
				<div class="tp-arr-imgholder2">
				</div>
				<div class="tp-arr-titleholder">
				</div>
				<div class="tp-arr-subtitleholder">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="flat-row parallax parallax1" style="background-position: 50% -172px;">
	<div class="overlay">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="iconbox style_1 mag-top">
					<div class="box-header">
						<div class="box-icon">
							<i class="fa icons icon-calculator">
							</i>
						</div>
						<h5 class="box-title">Management Support</h5>
					</div>
					<div class="box-content">
						<span class="font-size-14px">The professional management of a business doesn’t live without accurate information and timely.</span>
						<p class="box-readmore">
							<a href="#">Read More</a>
						</p>
					</div>
				</div>
				<!-- /.iconbox -->
			</div>
			<!-- /.col-md-3 -->
			<div class="col-md-3">
				<div class="iconbox style_1 mag-top">
					<div class="box-header">
						<div class="box-icon">
							<i class="fa icons icon-layers">
							</i>
						</div>
						<h5 class="box-title">Investment Projects</h5>
					</div>
					<div class="box-content">
						<span class="font-size-14px">For those looking to invest in the<br>growth of your business or create a new business.</span>
						<p class="box-readmore">
							<a href="#">Read More</a>
						</p>
					</div>
				</div>
				<!-- /.iconbox -->
			</div>
			<!-- /.col-md-3 -->
			<div class="col-md-3">
				<div class="iconbox style_1 mag-top">
					<div class="box-header">
						<div class="box-icon">
							<i class="fa icons icon-chart">
							</i>
						</div>
						<h5 class="box-title">Restructuring Plans</h5>
					</div>
					<div class="box-content">
						<span class="font-size-14px">Adapt your business to the new market conditions. Redefine your strategy, restructure your debt.</span>
						<p class="box-readmore">
							<a href="#">Read More</a>
						</p>
					</div>
				</div>
				<!-- /.iconbox -->
			</div>
			<!-- /.col-md-3 -->
			<div class="col-md-3">
				<div class="iconbox style_1 highlight">
					<div class="box-header">
						<h5 class="box-title pad-top">What we Offer?</h5>
					</div>
					<div class="box-content">
						<span class="font-size-14px">With over 20 years of experience we’ll ensure you’re getting the best guidance from the Fusion.</span>
						<p class="iconbox-button">
							<a href="#" class="button style_1 has-icon small highlight">View Services</a>
						</p>
					</div>
				</div>
				<!-- /.iconbox -->
			</div>
			<!-- /.col-md-3 -->
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-md-12">
				<div class="flat-border-bottom">
					<span class="sep-holder">
						<span class="sep-line">
						</span>
					</span>
				</div>
			</div>
			<!-- /.col-md-12 -->
		</div>
		<!-- /.row -->
		<div class="flat-divider d30px">
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="title-section">
					<h2 class="title color-ffffff">
					<strong>Since 2001 we have guided the management of SMEs.</strong>
					</h2>
					<div class="desc color-style_1">
						We are at present in companies that are responsible for a total of €85 million and that work with more than 600 employees.
						<br>We recognize the importance of internationalization for company growth. Approximately 25% of our clients have an international presence.
					</div>
				</div>
			</div>
			<!-- /.col-md-6 -->
		</div>
		<!-- /.row -->
		<div class="flat-divider d50px">
		</div>
		<div class="row">
			<div class="col-md-3 col-md-offset-2">
				<div class="counter style_1">
					<div class="counter-content">
						<span class="numb-count" data-to="69" data-speed="3000" data-waypoint-active="yes">69</span>
					</div>
					<div class="counter-title">Employees</div>
				</div>
				<!-- /.counter -->
			</div>
			<!-- /.col-md-3 -->
			<div class="col-md-2">
				<div class="counter style_1">
					<div class="counter-content">
						<span class="numb-count" data-to="20" data-speed="3000" data-waypoint-active="yes">20</span>
					</div>
					<div class="counter-title">Year Experience</div>
				</div>
				<!-- /.counter -->
			</div>
			<!-- /.col-md-2 -->
			<div class="col-md-3">
				<div class="counter style_1">
					<div class="counter-content">
						<span class="numb-count" data-to="12" data-speed="3000" data-waypoint-active="yes">12</span>
					</div>
					<div class="counter-title">Locations</div>
				</div>
				<!-- /.counter -->
			</div>
			<!-- /.col-md-3 -->
		</div>
		<!-- /.row -->
		<div class="flat-divider d60px">
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="text-center">
					<%=image_tag "images/icon/button1.png"%>
				</div>
			</div>
			<!-- /.col-md-12 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</div>
<!-- /.flat-row -->
<!-- Group button -->
<div class="flat-row bg-222222">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="title-section style_1">
					<h3 class="title color-ffffff">Management in hard times.</h3>
					<div class="desc">
						Don’t let your business evolve according to the pace of others. Contact us to discover how we can help with the management of your company.
					</div>
				</div>
			</div>
			<!-- /.col-md-8 -->
			<div class="col-md-4">
				<div class="group-button text-center">
					<a class="button white lg rounded" href="#">Read More</a>
					<a class="button lg rounded" href="contact.html">Contact Us</a>
				</div>
			</div>
			<!-- /.col-md-4 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</div>
<!-- /.flat-row -->
<!-- Accordion -->
<div class="flat-row bg-f7f7f7 pad-top0px pad-bottom0px">
	<div class="image-single style_1 clearfix">
		<div class="item-two-column">
			<div class="flat-single-image-autoheight">
			</div>
		</div>
		<!-- /.item-two-column -->
		<div class="item-two-column">
			<div class="section-accordion">
				<div class="title-section style_1">
					<h3 class="title">Frequently Asked Questions</h3>
				</div>
				<div class="flat-divider d30px">
				</div>
				<div class="flat-accordion">
					<div class="flat-toggle">
						<h6 class="toggle-title active">
						<i class="fa fa-bar-chart">
						</i>What are all the different types of accountants?</h6>
						<div class="toggle-content" style="display: block;">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
						</div>
					</div>
					<!-- /toggle -->
					<div class="flat-toggle">
						<h6 class="toggle-title">
						<i class="fa fa-line-chart">
						</i>What Do Accountants Without Their CPA do?</h6>
						<div class="toggle-content">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
						</div>
					</div>
					<!-- /toggle -->
					<div class="flat-toggle">
						<h6 class="toggle-title">
						<i class="fa fa-signal">
						</i>How do I make a mid-career switch into accounting?</h6>
						<div class="toggle-content">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
						</div>
					</div>
					<!-- /toggle -->
				</div>
				<!-- /.flat-accordion -->
			</div>
			<!-- /.section-accordion -->
		</div>
		<!-- /.item-two-column -->
	</div>
	<!-- /.image-single -->
</div>
<!-- /.flat-row -->
<!-- Portfolio -->
<div class="flat-row pad-top80px pad-bottom0px">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title-section">
					<h3 class="title">Rencent <strong>Portfolio</strong>
					</h3>
					<div class="desc">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus leo orci,
						<br>id pharetra odio varius ac.
					</div>
				</div>
			</div>
			<!-- /.col-md-12 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
	<div class="flat-divider d32px">
	</div>
	<div class="flat-portfolio portfolio-masonry margin20px">
		<div class="portfolio" style="position: relative; height: 564.344px;">
			<div class="portfolio-item item-four-column management" style="position: absolute; left: 0px; top: 0px;">
				<div class="portfolio-wrap">
					<div class="portfolio-thumbnail">
						<a href="portfolio-single-type-list.html">
							<%=image_tag "images/portfolio/1.jpg"%>
						</a>
						<div class="flat-figcaption">
							<div class="project-buttons">
								<a href="portfolio-single-type-list.html">
									<span>Quick View</span>
								</a>
							</div>
						</div>
					</div>
					<div class="portfolio-info">
						<div class="portfolio-info-wrap">
							<h6 class="portfolio-title">
							<a href="portfolio-single-type-list.html">Identity Card Holder</a>
							</h6>
							<ul class="portfolio-categories">
								<li>
									<a href="#">Management</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- /.portfolio-item -->
			<div class="portfolio-item item-four-column business" style="position: absolute; left: 272px; top: 0px;">
				<div class="portfolio-wrap">
					<div class="portfolio-thumbnail">
						<a href="portfolio-single-type-list.html">
							<%=image_tag "images/portfolio/2.jpg"%>
						</a>
						<div class="flat-figcaption">
							<div class="project-buttons">
								<a href="portfolio-single-type-list.html">
									<span>Quick View</span>
								</a>
							</div>
						</div>
					</div>
					<div class="portfolio-info">
						<div class="portfolio-info-wrap">
							<h6 class="portfolio-title">
							<a href="portfolio-single-type-list.html">Business Cards Mockup</a>
							</h6>
							<ul class="portfolio-categories">
								<li>
									<a href="#">Business</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- /.portfolio-item -->
			<div class="portfolio-item item-four-column economy" style="position: absolute; left: 545px; top: 0px;">
				<div class="portfolio-wrap">
					<div class="portfolio-thumbnail">
						<a href="portfolio-single-type-list.html">
							<%=image_tag "images/portfolio/3.jpg"%>
						</a>
						<div class="flat-figcaption">
							<div class="project-buttons">
								<a href="portfolio-single-type-list.html">
									<span>Quick View</span>
								</a>
							</div>
						</div>
					</div>
					<div class="portfolio-info">
						<div class="portfolio-info-wrap">
							<h6 class="portfolio-title">
							<a href="portfolio-single-type-list.html">Black Wine Bottle</a>
							</h6>
							<ul class="portfolio-categories">
								<li>
									<a href="#">Economy</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- /.portfolio-item -->
			<div class="portfolio-item item-four-column business" style="position: absolute; left: 817px; top: 0px;">
				<div class="portfolio-wrap">
					<div class="portfolio-thumbnail">
						<a href="portfolio-single-type-list.html">
							<%=image_tag "images/portfolio/4.jpg"%>
						</a>
						<div class="flat-figcaption">
							<div class="project-buttons">
								<a href="portfolio-single-type-list.html">
									<span>Quick View</span>
								</a>
							</div>
						</div>
					</div>
					<div class="portfolio-info">
						<div class="portfolio-info-wrap">
							<h6 class="portfolio-title">
							<a href="portfolio-single-type-list.html">Coffee &amp; Tea Exchange</a>
							</h6>
							<ul class="portfolio-categories">
								<li>
									<a href="#">Business</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- /.portfolio-item -->
			<div class="portfolio-item item-four-column management" style="position: absolute; left: 272px; top: 193px;">
				<div class="portfolio-wrap">
					<div class="portfolio-thumbnail">
						<a href="portfolio-single-type-list.html">
							<%=image_tag "images/portfolio/6.jpg"%>
						</a>
						<div class="flat-figcaption">
							<div class="project-buttons">
								<a href="portfolio-single-type-list.html">
									<span>Quick View</span>
								</a>
							</div>
						</div>
					</div>
					<div class="portfolio-info">
						<div class="portfolio-info-wrap">
							<h6 class="portfolio-title">
							<a href="portfolio-single-type-list.html">P H . D Card Mocup</a>
							</h6>
							<ul class="portfolio-categories">
								<li>
									<a href="#">Management</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- /.portfolio-item -->
			<div class="portfolio-item item-four-column economy" style="position: absolute; left: 817px; top: 193px;">
				<div class="portfolio-wrap">
					<div class="portfolio-thumbnail">
						<a href="portfolio-single-type-list.html">
							<%=image_tag "images/portfolio/8.jpg" %>
						</a>
						<div class="flat-figcaption">
							<div class="project-buttons">
								<a href="portfolio-single-type-list.html">
									<span>Quick View</span>
								</a>
							</div>
						</div>
					</div>
					<div class="portfolio-info">
						<div class="portfolio-info-wrap">
							<h6 class="portfolio-title">
							<a href="portfolio-single-type-list.html">Rambler &amp; Co</a>
							</h6>
							<ul class="portfolio-categories">
								<li>
									<a href="#">Economy</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- /.portfolio-item -->
			<div class="portfolio-item item-four-column invoicing" style="position: absolute; left: 0px; top: 370px;">
				<div class="portfolio-wrap">
					<div class="portfolio-thumbnail">
						<a href="portfolio-single-type-list.html">
							<%=image_tag "images/portfolio/5.jpg"%>
						</a>
						<div class="flat-figcaption">
							<div class="project-buttons">
								<a href="portfolio-single-type-list.html">
									<span>Quick View</span>
								</a>
							</div>
						</div>
					</div>
					<div class="portfolio-info">
						<div class="portfolio-info-wrap">
							<h6 class="portfolio-title">
							<a href="portfolio-single-type-list.html">Oskar Kullander<br>Booklet</a>
							</h6>
							<ul class="portfolio-categories">
								<li>
									<a href="#">Invoicing</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- /.portfolio-item -->
			<div class="portfolio-item item-four-column business invoicing" style="position: absolute; left: 545px; top: 370px;">
				<div class="portfolio-wrap">
					<div class="portfolio-thumbnail">
						<a href="portfolio-single-type-list.html">
							<%=image_tag "images/portfolio/7.jpg"%>
						</a>
						<div class="flat-figcaption">
							<div class="project-buttons">
								<a href="portfolio-single-type-list.html">
									<span>Quick View</span>
								</a>
							</div>
						</div>
					</div>
					<div class="portfolio-info">
						<div class="portfolio-info-wrap">
							<h6 class="portfolio-title">
							<a href="portfolio-single-type-list.html">Rubber Stamp MockUp</a>
							</h6>
							<ul class="portfolio-categories">
								<li>
									<a href="#">Business</a>
								</li>
								<li>
									<a href="#">Invoicing</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- /.portfolio-item -->
		</div>
		<!-- /.portfolio -->
	</div>
	<!-- /.flat-portfolio -->
</div>
<!-- /.flat-row -->
<!-- List -->
<div class="flat-row pad-top0px pad-bottom20px">
	<div class="image-single style_1 clearfix">
		<div class="item-two-column section-iconlist">
			<div class="title-section style_1">
				<h3 class="title">Why Choose <strong>Fusion?</strong>
				</h3>
				<div class="desc">
					With over 20 years of experience, we recognize the importance of internationalization for company growth. Approximately 25% of our clients have an international presence.
				</div>
			</div>
			<div class="flat-divider d30px">
			</div>
			<div class="flat-iconlist">
				<div class="row">
					<div class="col-md-6">
						<ul class="iconlist">
							<li>
								<i class="fa fa-cog">
							</i> Highly professional staff.</li>
							<li>
								<i class="fa fa-cog">
							</i> On Time and on Budget.</li>
							<li>
								<i class="fa fa-cog">
							</i> Vision for the business.</li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="iconlist">
							<li>
								<i class="fa fa-cog">
							</i> Real value to a community.</li>
							<li>
								<i class="fa fa-cog">
							</i> Keeping you out of trouble.</li>
							<li>
								<i class="fa fa-cog">
							</i> With you for the long haul.</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /.flat-iconlist -->
			<div class="flat-divider d30px">
			</div>
			<a href="#" class="button lg dark">How can we help you?</a>
		</div>
		<!-- /.item-two-column -->
		<div class="item-two-column mag-left flat-single-image-autoheight-style1">
		</div>
		<!-- /.item-two-column -->
	</div>
	<!-- /.image-single -->
</div>
<!-- /.flat-row -->
<!-- Video -->
<div class="flat-row parallax parallax5 pad-top90px pad-bottom90px">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title-section">
					<h3 class="title color-ffffff">OUR VISION</h3>
					<div class="desc color-style_1">
						A company isn’t distinguished by its dimension, but by how it is run.
						<br>Implementing good management practices is a reality that allows for an increase in
						<br>professionalism and competitiveness.
					</div>
				</div>
			</div>
			<!-- /.col-md-12 -->
		</div>
		<!-- /.row -->
		<div class="flat-divider d20px">
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="flat-video-fancybox text-center">
					<a class="fancybox" data-type="iframe" href="https://www.youtube.com/embed/p_E9S2nRrwM?autoplay=1">
						<%=image_tag "images/img-single/bg-video.png"%>
					</a>
				</div>
				<div class="title-section">
					<div class="desc color-style_1 mag-top10px">
						Show Amazing Video
					</div>
				</div>
			</div>
			<!-- /.col-md-12 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</div>
<!-- /.flat-row -->
<!-- Blgo shortcode -->
<div class="flat-row pad-top100px pad-bottom100px">
	<div class="blog-shortcode blog-grid">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<article class="hentry">
						<div class="entry-cover">
							<a href="blog-single.html">
								<%=image_tag "images/blog/5.jpg"%>
							</a>
						</div>
						<div class="entry-header">
							<h2 class="entry-title">
							<a href="blog-single.html">3 Reasons Your Business Needs A Budget Now</a>
							</h2>
							<div class="post-meta">
								<div class="entry-time">January 26, 2016</div>
							</div>
						</div>
						<div class="entry-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has...</div>
					</article>
					<!-- /.hentry -->
				</div>
				<!-- /.col-md-6 -->
				<div class="col-md-6">
					<article class="hentry">
						<div class="entry-cover">
							<a href="blog-single.html">
								<%=image_tag "images/blog/6.jpg"%>
							</a>
						</div>
						<div class="entry-header">
							<h2 class="entry-title">
							<a href="blog-single.html">2016 Queensland Small Business Week</a>
							</h2>
							<div class="post-meta">
								<div class="entry-time">January 26, 2016</div>
							</div>
						</div>
						<div class="entry-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has...</div>
					</article>
					<!-- /.hentry -->
				</div>
				<!-- /.col-md-6 -->
			</div>
			<!-- /.row -->
			<div class="flat-divider d40px">
			</div>
			<div class="row">
				<div class="col-md-6">
					<article class="hentry">
						<div class="entry-cover">
							<a href="blog-single.html">
								<%=image_tag src="images/blog/7.jpg"%>
							</a>
						</div>
						<div class="entry-header">
							<h2 class="entry-title">
							<a href="blog-single.html">The Tax Office doesn’t always get it right</a>
							</h2>
							<div class="post-meta">
								<div class="entry-time">January 26, 2016</div>
							</div>
						</div>
						<div class="entry-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has...</div>
					</article>
					<!-- /.hentry -->
				</div>
				<!-- /.col-md-6 -->
				<div class="col-md-6">
					<article class="hentry">
						<div class="entry-cover">
							<a href="blog-single.html">
								<%=image_tag "images/blog/8.jpg"%>
							</a>
						</div>
						<div class="entry-header">
							<h2 class="entry-title">
							<a href="blog-single.html">The fastest way to grow your business</a>
							</h2>
							<div class="post-meta">
								<div class="entry-time">January 26, 2016</div>
							</div>
						</div>
						<div class="entry-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has...</div>
					</article>
					<!-- /.hentry -->
				</div>
				<!-- /.col-md-6 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</div>
	<!-- /.blog-shortcodes -->
</div>
<!-- /.flat-row -->
<!-- Testimonial -->
<div class="flat-row bg-f7f7f7 pad-top0px pad-bottom0px">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="section-testimonial">
					<div class="title-section style_2">
						<h2 class="title">What our<br>clients say about us</h2>
					</div>
					<div class="flat-divider d20px">
					</div>
					<div class="flat-testimonial">
						<div class="flexslider">
							<div class="flex-viewport" style="overflow: hidden; position: relative; height: 177px;">
								<ul class="slides" style="width: 1000%; margin-left: -355px;">
									<li class="clone" aria-hidden="true" style="width: 355px; margin-right: 0px; float: left; display: block;">
										<div class="testimonial bg-f7f7f7">
											<div class="testimonial">
												<div class="testimonial-content">
													<blockquote>The reason we like dealing with Fusion is because they respond quickly and if there is no chance of obtaining planning they will tell you on day one. They will not waste your money if there is no hope so that to me is fair play.</blockquote>
												</div>
												<div class="testimonial-meta">
													<div class="testimonial-author">
														<strong class="author-name">Phat Vo Ngoc</strong>
														<div class="author-info">
															<a href="#" class="company">ThemesFlat</a>
														</div>
													</div>
												</div>
											</div>
										<!-- /.testimonial -->
										</div>
									</li>
									<li style="width: 355px; margin-right: 0px; float: left; display: block;" class="flex-active-slide" data-thumb-alt="">
										<div class="testimonial bg-f7f7f7">
											<div class="testimonial-content">
												<blockquote>John Doe and his crew are true craftsmen that produced high-quality work and were easy to work with too. The end result is magnificent and we get comments all of the time, from friends and strangers alike, how beautiful our home is.</blockquote>
											</div>
											<div class="testimonial-meta">
												<div class="testimonial-author">
													<strong class="author-name">Phat Vo Ngoc</strong>
													<div class="author-info">
														<a href="#" class="company">ThemesFlat</a>
													</div>
												</div>
											</div>
										</div>
									</li>
									<li data-thumb-alt="" class="" style="width: 355px; margin-right: 0px; float: left; display: block;">
										<div class="testimonial bg-f7f7f7">
											<div class="testimonial">
												<div class="testimonial-content">
													<blockquote>We had a vision, a budget and a very short timeline. John Doe and his crew came in and said yes to all three. It’s rare you are able to have an awesome space you love built for you, without hidden costs, and delivered the exact day promised.</blockquote>
												</div>
												<div class="testimonial-meta">
													<div class="testimonial-author">
														<strong class="author-name">Phat Vo Ngoc</strong>
														<div class="author-info">
															<a href="#" class="company">ThemesFlat</a>
														</div>
													</div>
												</div>
											</div>
											<!-- /.testimonial -->
										</div>
										<!-- /.testimonial -->
									</li>
									<li data-thumb-alt="" class="" style="width: 355px; margin-right: 0px; float: left; display: block;">
										<div class="testimonial bg-f7f7f7">
											<div class="testimonial">
												<div class="testimonial-content">
													<blockquote>The reason we like dealing with Fusion is because they respond quickly and if there is no chance of obtaining planning they will tell you on day one. They will not waste your money if there is no hope so that to me is fair play.</blockquote>
												</div>
												<div class="testimonial-meta">
													<div class="testimonial-author">
														<strong class="author-name">Phat Vo Ngoc</strong>
														<div class="author-info">
															<a href="#" class="company">ThemesFlat</a>
														</div>
													</div>
												</div>
											</div>
											<!-- /.testimonial -->
										</div>
										<!-- /.testimonial -->
									</li>
									<li style="width: 355px; margin-right: 0px; float: left; display: block;" class="clone" aria-hidden="true">
										<div class="testimonial bg-f7f7f7">
											<div class="testimonial-content">
												<blockquote>John Doe and his crew are true craftsmen that produced high-quality work and were easy to work with too. The end result is magnificent and we get comments all of the time, from friends and strangers alike, how beautiful our home is.</blockquote>
											</div>
											<div class="testimonial-meta">
												<div class="testimonial-author">
													<strong class="author-name">Phat Vo Ngoc</strong>
													<div class="author-info">
														<a href="#" class="company">ThemesFlat</a>
													</div>
												</div>
											</div>
										</div>
										<!-- /.testimonial -->
									</li>
								</ul>
							</div>
							<ol class="flex-control-nav flex-control-paging">
								<li>
									<a href="#" class="flex-active">1</a>
								</li>
								<li>
									<a href="#" class="">2</a>
								</li>
								<li>
									<a href="#" class="">3</a>
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="image-single">
					<%=image_tag "images/img-single/img-clients.jpg"%>
				</div>
			</div>
			<!-- /.col-md-6 -->
		</div>
	</div>
</div>
<!-- /.flat-row -->
<!-- Clients -->
<div class="flat-row pad-top20px pad-bottom20px">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="flat-clients owl-carousel owl-theme owl-loaded" data-item="6" data-nav="false" data-dots="false" data-auto="true">
					<div class="owl-stage-outer">
						<div class="owl-stage" style="transform: translate3d(-3880px, 0px, 0px); transition: 0.25s; width: 5173.33px;">
							<div class="owl-item cloned" style="width: 293.333px; margin-right: 30px;">
								<div class="client-featured">
									%= sare_tagcages/client/2.png" al%							</div>
							</div>
							<div class="owl-item cloned" style="width: 293.333px; margin-right: 30px;">
								<div class="client-featured">
									<%=image_tag "images/client/3.png"%>
								</div>
							</div>
							<div class="owl-item cloned" style="width: 293.333px; margin-right: 30px;">
								<div class="client-featured">
									<%=image_tag "images/client/4.png"%>
								</div>
							</div>
							<div class="owl-item" style="width: 293.333px; margin-right: 30px;">
								<div class="client-featured">
									<%=image_tag "images/client/1.png"%>
								</div>
							</div>
							<div class="owl-item" style="width: 293.333px; margin-right: 30px;">
								<div class="client-featured">
									<%=image_tag "images/client/2.png"%>
								</div>
							</div>
							<div class="owl-item" style="width: 293.333px; margin-right: 30px;">
								<div class="client-featured">
									<%=image_tag "images/client/3.png"%>
								</div>
							</div>
							<div class="owl-item" style="width: 293.333px; margin-right: 30px;">
								<div class="client-featured">
									<%=image_tag "images/client/4.png"%>
								</div>
							</div>
							<div class="owl-item" style="width: 293.333px; margin-right: 30px;">
								<div class="client-featured">
									<%=image_tag "images/client/5.png"%>
								</div>
							</div>
							<div class="owl-item" style="width: 293.333px; margin-right: 30px;">
								<div class="client-featured">
									<%=image_tag "images/client/6.png"%>
								</div>
							</div>
							<div class="owl-item" style="width: 293.333px; margin-right: 30px;">
								<div class="client-featured">
									<%=image_tag "images/client/1.png"%>
								</div>
							</div>
							<div class="owl-item" style="width: 293.333px; margin-right: 30px;">
								<div class="client-featured">
									<%=image_tag "images/client/2.png"%>
								</div>
							</div>
							<div class="owl-item" style="width: 293.333px; margin-right: 30px;">
								<div class="client-featured">
									<%=image_tag "images/client/3.png"%>
								</div>
							</div>
							<div class="owl-item active" style="width: 293.333px; margin-right: 30px;">
								<div class="client-featured">
									<%=image_tag "images/client/4.png"%>
								</div>
							</div>
							<div class="owl-item cloned active" style="width: 293.333px; margin-right: 30px;">
								<div class="client-featured">
									<%=image_tag "images/client/1.png"%>
								</div>
							</div>
							<div class="owl-item cloned active" style="width: 293.333px; margin-right: 30px;">
								<div class="client-featured">
									<%=image_tag "images/client/2.png"%>
								</div>
							</div>
							<div class="owl-item cloned active" style="width: 293.333px; margin-right: 30px;">
								<div class="client-featured">
									<%=image_tag "images/client/3.png"%>
								</div>
							</div>
						</div>
					</div>
					<div class="owl-controls">
						<div class="owl-nav">
							<div class="owl-prev" style="display: none;">prev</div>
							<div class="owl-next" style="display: none;">next</div>
						</div>
						<div class="owl-dots" style="display: none;">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>